<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>

  <!-- NAV BAR -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">GEOSAN</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index'%}">Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'typologie'%}">Typologie</a>
          </li>
        </ul>
        <!--<form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>

        </form>-->
        
        <a class="nav-link active" aria-current="page" href="{% url 'logout'%}"><button class="btn btn-outline-success">Log out</button></a>
      </div>
      
    </div>
    
  </nav>

  <div class="container">
    <strong>
      <div class="row mt-4">
        Description de la typologie des communes vaudoises
      </div>
    </strong>
    <div class="row mt-4" style="text-align:justify">

      Pour construire la typologie des 302 communes vaudoises, nous avons retenu 39 variables permettant de caractériser :<br>
      - la population résidente au niveau démographique, migratoire, et socio-économique. <br>
      - l’urbanisation de la commune à travers l’occupation du sol, l’altitude, et la proximité aux communes-centre. <br>
      - le potentiel engagement de la commune, d’un point de vue financier et politique. <br>

    </div>
    <strong>
      <div class="row mt-4">
        Analyse en composantes principales (ACP)
      </div>
    </strong>
    <div class="row mt-4" style="text-align:justify">
      Cette étape permet de faciliter l’interprétation d’un jeu de données multivarié en réduisant son nombre de dimensions. Cela passe par la création d’un nombre réduit d’axes synthétiques (Composantes Principales CP) dont l’interprétation permet d’identifier les principaux facteurs d’opposition des territoires.
      Nous avons conservé uniquement les quatre premières composantes principales (représentant 54.2 % de l’inertie totale) pour construire notre typologie, selon le test des bâtons brisés (broken stick model).
    </div>
    <div class="row mt-4" style="text-align:justify">
      Le premier facteur (1ère CP – 23.3 % de l’inertie) illustre le caractère urbain / rural des communes et marque d’importantes différences socio-démographiques. Des espaces urbanisés (concentration des infrastructures publiques, parcs, industries et loisirs) en croissance démographique avec des inégalités économiques et une forte composante migratoire (allophones, part d’immigrés) sont en opposition avec des espaces ruraux (terres agricoles, pâturages et surfaces forestières, éloignement des agglomérations, altitude) conservateurs (score UDC), et des actifs occupés dans les secteurs primaires et secondaires.<br>
      Le deuxième facteur d’opposition (2ème CP – 15 % de l’inertie) illustre des différences socio-économiques (revenu médian, part de la population diplômée, part de propriétaires versus part de la population sans formation post-obligatoire) et de mobilité quotidienne (part de pendulaires, enfants versus population vieillissante, vastes communes d’altitude).<br>
      Le troisième facteur (3ème CP – 9.5 % de l’inertie) oppose des espaces périurbains industriels (concentration des infrastructures publiques, terres agricoles, surfaces dédiées à l’industrie, actifs dans secteurs secondaires) et à forte densité résidentielle avec des espaces de montagne isolés (vastes communes d’altitude, pâturages et surfaces forestières, éloignement des agglomérations), et vieillissants (retraités), à hauts revenus (taux d’imposition, part des diplômés) bien qu’inégaux.<br>
      Le quatrième facteur (4ème CP – 6.4 % de l’inertie) illustre des oppositions de structure d’âge et de géographie en dissociant des espaces résidentiels où vit une population vieillissante (retraités) avec des espaces ruraux (part de propriétaires, loin des agglomérations, grande superficie, pâturages et surfaces forestières) où vit une population jeune (enfants et actifs).
    </div>
    <strong>
      <div class="row mt-4">
        Classification ascendante hiérarchique
      </div>
    </strong>
    <div class="row mt-4" style="text-align:justify">
      La classification ascendante hiérarchique est une approche de clustering qui a été utilisée pour grouper les communes vaudoises aux profils similaires.<br>
      En se basant sur la position des communes dans les quatre dimensions identifiées par l’ACP, l’algorithme a créé des groupes de communes homogènes en minimisant les différences intra-groupes et en maximisant les différences inter-groupes. Le choix du nombre de groupes (ou classes) est un compromis entre la finesse des profils obtenus et la maximisation du coefficient de silhouette moyen (ressemblance intra-groupe). <br>
      Neuf profils distincts de communes ont été retenus et sont décrits ci-dessous.
    </div>

  </div>

<!-- END NAVBAR -->
    <div class="container" id="carte">
        <div class="row mt-4">
            <div class="col-md-10 offset-md-1">
                {{ m | safe }}

            </div>
        </div>
    </div>

    <form method="POST">
        {% csrf_token %}

        {% if not is_all_communes %}
        <div class="container">
          <div class="row mt-4">
            <div class="d-grid gap-2 d-md-block" style="text-align: center;">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary btn-sm" name="category" value="10">Montrer toutes les communes</button>
            </div>
          </div>
        </div>
        {% endif %}

        <div class="container">
          {% for id, color, title, stats, description in typo_list %}
            <div class="row mt-4">
                <div class="col-md-auto">
                    <button type="submit" name="category" value="{{ forloop.counter }}" class="btn btn-primary p-4 rounded-0" style="background-color:{{ color }};"></button>
                </div>
                <div class="col" style="text-align: justify;">
                      Classe {{id}} : {{ title }}<br>
                      {{ stats|safe }}<br>
                      {{ description }}

                </div>
            </div>
            {% endfor %}
        </div>
    </form>

    <div><br></div>

    <footer class="mt-auto">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright:
        <a class="text-black" href="https://www.epfl.ch/labs/lasig/">LASIG EPFL</a>
        |
        <a class="text-black" href="https://www.giraph.org/">GIRAPH LAB</a>
      </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    
    {% if request.method == 'POST' %}
      <script>
        window.location.hash = "#carte";
      </script>
  
    {% endif %}
  
  
  </body>
</html>